.footer {
  border-top: 1px solid RGBA(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    color: #212121;
  }
  p {
    margin: 0;
  }
  a {
    // display: block;
  }
  &__grid-item {
    &:nth-child(2) {
      text-align: right;
      p {
        text-align: right;
      }
    }
  }
  @media (max-width: 900px) {
    position: initial;
  }
  @media (max-width: 650px) {
    padding-top: 24px;
    &__grid {
      gap: 12px;
      grid-template-columns: repeat(1, 1fr);
      font-size: 14px;
    }
    &__grid-item:nth-child(2) {
      text-align: left;
      p {
        text-align: left;
      }
    }

  }
}
