.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 9999;
  transition:
    opacity 0.3s,
    visibility 0.3s;

  .form__item:has(.button) {
    margin-top: 0;
  }

  .button-close {
    position: absolute;
    top: -24px;
    right: 60px;
  }
  .title {
    margin-bottom: 21px;
  }
  .subtitle {
    font-size: 20px;
  }
  .wrapper {
    position: relative;
  }
}

.modal__body {
  // max-width: 768px !important;
  padding: 27px 40px 35px;
  width: 768px !important;
  margin: 0 auto;
  border-radius: 40px;
  background: #fff;
  position: relative;

  // overflow: auto;
  // overflow: hidden;
}

.content-scroll {
  max-height: 80vh;
}

.to-right {
  max-width: max-content;
  margin-left: auto;
}

.modal.active {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px) {
  .modal {
    &__title {
      font-size: 35px;
    }
    &__text {
      margin-bottom: 23px;
    }
    .form__group {
      grid-template-columns: 1fr;
    }
    .form__item--mod {
      grid-column: initial;
    }
    .capcha {
      max-width: max-content;
      margin-inline: auto;
      margin-bottom: 16px;
    }
    .form__footer {
      grid-template-columns: 1fr;
      gap: 24px;
    }
    &__body {
      padding: 26px 32px 32px;
    }

    .form__grid {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    .form .form__item--2 {
      grid-column: initial;
    }
    .modal__body {
      width: 100% !important;
      padding: 20px 20px 30px;
    }
    .button-close {
      right: 30px;
    }
    .title {
      margin-bottom: 12px;
      font-size: 24px;
      padding-bottom: 12px;
    }
    .partners-list {
      gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 24px;
  }
  .wrapper {
    max-width: 100% !important;
    width: 100%;
  }
  }
}
