@font-face {
  font-family: 'Honest';
  src: url(../fonts/Onest-Black.woff2) format('woff2');
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Honest-Bold.woff2) format('woff2');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Honest-ExtraBold.woff2) format('woff2');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Onest-ExtraLight.woff2) format('woff2');
  font-weight: 200; /* ExtraLight */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Onest-Light.woff2) format('woff2');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Onest-Medium.woff2) format('woff2');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Honest-Regular.woff2) format('woff2');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Onest-SemiBold.woff2) format('woff2');
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Honest';
  src: url(../fonts/Onest-Thin.woff2) format('woff2');
  font-weight: 100; /* Thin */
  font-style: normal;
  font-display: swap;
}
