.button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  border: none;
  text-align: center;
  background-color: #c40a2c;
  padding: 10px 50px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  @media (max-width: 650px) {
    max-width: max-content;
    font-size: 18px;
    padding: 10px 17px;
  }
}
