.title {
  display: block;
  margin: 0;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 35px;

  color: #212121;
  font-family: var(--font-family);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  &::after {
    content: "";
    display: block;
    width: 6%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--color-dark-mod-02);
  }
  &--white {
    color: var(--color-white);
  }

  &--two {
    font-size: 48px;
  }
  &--mod {
    max-width: max-content;
    padding-right: 64px;
  }

  @media (max-width: 1023px) {
    font-size: 40px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
    padding-bottom: 21px;
    padding-right: 0;
    margin-bottom: 26px;
    &::after {
      width: 26%;
    }
  }
}
