.title {
  display: block;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 40px;
  line-height: 110%;
  color: #212121;
  margin-bottom: 27px;
  span {
    font-weight: 600;
    color: #c40a2c;
  }
  b {
    font-weight: 600;
  }
}
