.title {
  display: block;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 40px;
  line-height: 110%;
  color: #212121;
  margin-bottom: 27px;
  span {
    font-weight: 600;
    color: #c40a2c;
  }
  b {
    font-weight: 600;
  }

  @media (max-width: 900px) {
    font-size: 36px;
    margin-bottom: 34px;
  }
  @media (max-width: 650px) {
    font-size: 23px;
    margin-bottom: 24px;
  }
}
